* {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

html{
    scroll-behavior: smooth;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 96, 96,0.6);
    margin: 20px auto;
    /* opacity: 0.69; */
    font-family: 'Baloo Bhai 2', cursive;
    position: fixed;

}

/* logo and Image */

#logo {
    margin: 27px 0px;
    padding: 0px 50px;
}

img {
    width: 50px;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.1rem;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

#home {
    display: flex;
    flex-direction: column;
    height: 541px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.h-primary{
    font-size: 3.8rem;
    padding: 2px;
    text-align: center;
}

#home h1{
    color: whitesmoke;
    text-align: center;
    
}

#home p{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    /* padding: 10px; */
    font-family: 'Baloo Bhai 2', cursive;
}

#home .btn{
    padding: 12px;
    border-radius: 40px;
    background-color: rgba(66, 36, 36, 0.7);
    border: none;
    color: whitesmoke;
    font-family: 'Baloo Bhai 2', cursive;   
    font-size: 1.2rem;
    font-weight: bold;
    /* opacity: .8; */

    
}

#home .btn:hover{
    padding: 12px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Baloo Bhai 2', cursive;   
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

#services{
    display: flex;
    margin: 0px 15px;

    
    
}
#services .box{
    border: 2px solid brown;
    border-radius: 20px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(228, 215, 215);
    height: 250px;
    width: 500px;    
}

#services .box img{
    display: block;
    margin: auto;
    width: 40%;
    height: 50%;
}



.h-secondary{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    padding: 24px 0px;
}

.h-head{
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    color: rgb(20, 5, 5);
}

.center{
    text-align: center;
}

#services-container{
    height: 500px;
    background-color: rgb(243, 199, 199);
}

.clients{
    display: flex;
    padding: 21px 0px;
    align-items: center;
    justify-content: center;
}

.client-item{
    padding: 0px 30px;
    
}

#client-section{
    height: 270px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    height: 270px;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

#contact{
    height: 68%;
    width: 100%;
    position: absolute;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(../contact.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}

.form-group label{
    color: rgb(26, 26, 27);
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}

.contact-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
    font-size: 1.5rem;
    /* width: 40%; */
}

.contact-box form{
    width: 40%;
}
